<body>
 

<div class="bod">
    <div style="margin-top: 7%;">
        <h1 style="text-align: center;"> Student SignUp</h1>

        <form style="margin-left: 38%;">
            <input type="email" name="" placeholder="Email">
            <input type="password" name="" placeholder="Password">
            <input type="text" name="" placeholder="First Name">
            <input type="text" name="" placeholder="Last Name">
            <input type="number " name="" placeholder="Contact Number">
            
            <button style="margin-right: 55%; width: 20%; border-radius: 5px; margin-top: 2%;">SignUp</button>
        </form>
    </div>
</div>
</body>

