<body>
 

<div class="bod">
    <div style="margin-top: 7%;">
        <h1 style="text-align: center;"> Student SignUp</h1>

        <form style="margin-left: 38%;">
            <input type="text" name="" placeholder="username">
            <input type="email" name="" placeholder="email">
            <input type="password" name="" placeholder="password">
            <input type="confirm password   " name="" placeholder="confirm password">
            <button style="margin-right: 55%; width: 20%; border-radius: 5px; margin-top: 2%;">SignUp</button>
        </form>
    </div>
</div>
</body>