
<ul nz-menu nzMode="horizontal" nzTheme="dark" style="height: 55px;">
    <!-- <li>
        <h2 style="color: aliceblue; margin-top: 5px;">Welcome to Teacher Finder</h2> 
    </li> -->

    <li nz-menu-item style="margin-left: 0%; float: left;" >
      <span nz-icon nzType="mail"></span>
       Login
       <a href="student-dashboard"></a>                                                                                                                     
     
    
    <li nz-menu-item style="margin-right: 36%; float: right;" >
      <span nz-icon nzType="mail"></span>
       About Us
       <a href="about-us"></a>                                                                                                                     
     
    </li>

    <li nz-menu-item style="margin-right: 5%; float: right;">
        <span nz-icon nzType="mail"></span>
       Student
       <a href="student-signup"></a>
      </li>

      <li nz-menu-item style="margin-right: 5%; float: right;">
        <span nz-icon nzType="mail"></span>
        Teacher
        <a href="teacher-signup"></a>
      </li>

    
      
    
  </ul>
<div class="body">
<div style="margin-top: 8%;">
    <h1 style="text-align: center; color: rgb(98, 190, 230);">Welcome to Teacher Finder</h1>
    <!-- <div class="row col-4" style="margin-left:41%; margin-top: 5%;">
        <button class="btn btn-primary" style="margin-right: 15px; width: 25%;" routerLink="/student-signup">Student</button>
        <button class="btn btn-primary" style="width: 25%;" routerLink="/teacher-signup">Teacher</button>
    </div> -->
    <div>
      <div class="container">
        <h1>
          Description
        </h1>
        <p>
          Welcome to our innovative Teacher Finder website, your go-to platform for connecting with <p>exceptional educators! 
        Whether you're a student seeking academic guidance, a parent <p> searching for a tutor  for your child,  or an individual looking to learn something new, our <p> platform is designed to make the process of finding 
            the perfect teacher a breeze.
        </p>
      
      </div>
      </div>
</div>
</div>



