`<div *ngIf="!isAuthenticated" class="container">
    <div class="form-box">
        <h1 id="title">Teacher Finder</h1>
        
            <div class="input-group">
            
                <div class="input-field">
                    <i class="fa-solid fa-envelope"></i>
                    <input type="email" [(ngModel)]="email" placeholder="Email Address">
                </div>



                <div class="input-field">
                    <i class="fa-solid fa-lock"></i>
                    <input type="password" [(ngModel)]="password" placeholder="password">

                </div>

                <p>Forget password <a routerLink="/forget-password">Click Here</a></p>

            </div>
            <div class="btn-field">
                <button type="button" id="SignInBtn" (click)="login(email, password)">Sign In</button>
                <button type="button" id="SignUpBtn" routerLink="/signup">Sign Up</button>
            </div>

            
       
    </div>
</div>
